* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    
}

header {
    background-color: gray;
}

aside {
    background-color: rgb(175, 175, 175);
    width: 25%;
}

section {
    background-color: rgb(145, 145, 145);
    width: 75%;
}

main {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

footer {
    background-color: gray;
}